<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>

<span class="username" th:text="${#authentication.getPrincipal().getUsername()}">User-Email</span>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>

<button onclick="location.href='/'" id="toHome" type="button">
    Home
</button>

<button onclick="location.href='/addweight'" id="toAddweight" type="button">
    addWeight
</button>

<button onclick="location.href='/about'" id="toAbout" type="button">
    About
</button>

<form th:action="@{edit}" method="post">

    <label for="username" class="username">Username:</label>
    <input type="text" name="username" id="username">

    <label for="password" class="password">password:</label>
    <input type="password" name="password" id="password">

    <div class="form-actions">
        <input type="submit" value="Save">
    </div>
</form>

<form th:action="@{delete}" method="post">
    <input type="submit" value="Delete" class="btn btn-danger"/>
</form>

</body>
</html>