<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>

<form th:action="@{edit}" method="post">

    <label for="username" class="username">Username:</label>
    <input type="text" name="username" id="username">

    <label for="password" class="password">password:</label>
    <input type="password" name="password" id="password">

    <div class="form-actions">
        <input type="submit" value="Save">
    </div>
</form>

<form th:action="@{delete}" method="post">
    <input type="submit" value="Delete" class="btn btn-danger"/>
</form>


</body>
</html>