<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
</head>
<body>
<H1>Sign-Up</H1>

<div id="login-box">
    <div class="left">

        <form th:action="@{/signup}" method="post">

            <label for="username">Username</label><br/>
            <input type="text" id="username" name="username"/>

            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>

            <div class="form-actions">
                <button type="submit" id="submit" class="btn">Signup</button>
            </div>
        </form>
        <a href="/login">Already have an account?</a>
    </div>
</div>

</body>
</html>